:root {
    --main-font: 'Roboto', sans-serif;
    --title-font-size: 36px;
    --name-font-size: 16px;
    --description-font-size: 18px;
    --text-font-size: 14px;
    --text-color-light-theme: #757575;
    --text-color-dark-theme: rgba(255, 255, 255, 0.6);
    --title-color-light-theme: #212121;
    --title-color-dark-theme: #ffffff;
    --accent-color: #2196F3;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    color: var(--text-color-light-theme);
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

/*HEADER*/

.header a:focus,
.header a:hover {
    color: var(--accent-color);
}

.header a {
    font-weight: 500;
    font-size: var(--text-font-size);
    line-height: 16px;
    letter-spacing: 0.02em;
}

.navigation-list-item-link {
    color: var(--title-color-light-theme);
}

.contact-list-item-link {
    color: var(--text-color-light-theme);
}

/*HERO*/

.subtitle {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /*color: var(--title-color-dark-theme);*/
}

.subtitle-modal-btn {
    font-weight: bold;
    font-size: var(--name-font-size);
    line-height: 30px;
    letter-spacing: 0.06em;
    /*color: var(--title-color-dark-theme);*/
}

/*FEATURES*/

.features-list-item-title {
    font-weight: bold;
    font-size: var(--text-font-size);
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color-light-theme);
}

.features-list-item-text {
    font-weight: normal;
    font-size: var(--text-font-size);
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color-light-theme);
}

/*ABOUT AND TEAM*/

.section-title {
    font-weight: bold;
    font-size: var(--title-font-size);
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--title-color-light-theme);
}

.team-list-item-name {
    font-weight: 500;
    font-size: var(--name-font-size);
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-color-light-theme);
}

.team-list-item-position {
    font-weight: normal;
    font-size: var(--name-font-size);
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text-color-light-theme);
}

/*PORTFOLIO*/

.modal-btn {
    font-weight: 500;
    font-size: var(--name-font-size);
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--title-color-light-theme);
}

.modal-btn:hover,
.modal-btn:focus {
    /*color: var(--title-color-dark-theme);*/
}

.portfolio-list-item-title {
    font-weight: bold;
    font-size: var(--description-font-size);
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-color-light-theme);
}

.portfolio-list-item-text {
    font-weight: normal;
    font-size: var(--name-font-size);
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color-light-theme);
}

/*FOOTER*/

.address-list-item-link {
    font-weight: normal;
    font-size: var(--text-font-size);
    line-height: 24px;
    letter-spacing: 0.03em;
    /* color: var(--text-color-dark-theme); */
}

/* .address-list-item:first-child {
    color: var(--title-color-dark-theme);
} */